= content_for :title do
  About

%h1 About ¡FundArts!
Many small contributions, one huge impact.<br />
Artists with a project that needs funding will place their projects on this website.<br />
Backers will chip in, and help the project to its completion … and get a little something.<br />
