@font-face {
    font-family: 'ComfortaaThin';
    src: url('/assets/Comfortaa_Thin-webfont.eot');
    src: url('/assets/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Comfortaa_Thin-webfont.woff') format('woff'),
         url('/assets/Comfortaa_Thin-webfont.ttf') format('truetype'),
         url('/assets/Comfortaa_Thin-webfont.svg#ComfortaaThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ComfortaaRegular';
    src: url('/assets/Comfortaa_Regular-webfont.eot');
    src: url('/assets/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Comfortaa_Regular-webfont.woff') format('woff'),
         url('/assets/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('/assets/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ComfortaaBold';
    src: url('/assets/Comfortaa_Bold-webfont.eot');
    src: url('/assets/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Comfortaa_Bold-webfont.woff') format('woff'),
         url('/assets/Comfortaa_Bold-webfont.ttf') format('truetype'),
         url('/assets/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
