// Place all the styles related to the nocon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base_font: "ComfortaaRegular", "Sans serif";
$base_colour: #121212;
$lighter_base_colour: lighten($base_colour, 80%);
$background_colour: #fff;

body, table
{
  font-family: $base_font;
  font-size: 20pt;
  text-align: center;
  color: $base_colour;
  background: $background_colour;
}

#header
{
  #logoface
  {
    img
    {
      width: 200px;
    }

    a
    {
      color: inherit;
      text-decoration: inherit;
    }
  }

  #tagline
  {
    font-weight: bold;
    text-align: left;

    #explication
    {
      font-size: 45%;
      font-weight: normal;
      letter-spacing: 0.0625em;
    }

    ul
    {
      font-size: 50%;
      list-style: none;
      text-align: right;
      li
      {
        display: inline;
        padding-left: 0.5em;
        padding-right: 0.5em;

        a
        {
          text-shadow: 0em 0em 0.25em $lighter_base_colour;
          border-radius: 0.25em 0.25em 0.25em 0.25em;
          text-decoration: none;
          &:hover
          {
            text-shadow: 0em 0em 0.25em $base_colour;
            color: $lighter_base_colour;
            border-bottom: solid 0.25em $lighter_base_colour;
          }
        }
      }
    }
  }
}
  
#trunk
{

}

#footer
{
  margin-top: 5em;
  font-size: 50%;
  .copyright
  {
    //  What goes here?
  }

  .activity
  {
    //  And here? What goes here?
  }
}

.exploreproject
{
  font-size: 50%;
  .explorepic
  {
    text-align: right;
  }

  .exploredata
  {
    text-align: left;
    .header
    {
      font-weight: bold;
    }
  }
}

.projects
{
  .indicator
  {
    text-align: left;
    color: $lighter_base_colour;
    text-shadow: 0em 0em 0.25em $base_colour;
    font-size: 75%;
  }

  .project
  {
    font-size: 50%;

    a
    {
      text-decoration: none;
      color: inherit;
    }

    .descr
    {

    }

    .header
    {
      font-size: 200%;
      font-weight: bold;
    }

    .pic
    {
      height: 200px;
    }

    .counters
    {
      font-weight: bold;
    }
  }
}

fieldset
{
  border-radius: 1em 1em 1em 1em;
  border-bottom: none;
  legend
  {
    font-size: 50%;
    font-weight: inherit;
    border-radius: 1em 1em 1em 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid $lighter_base_colour;
    border-bottom: none;
  }
  padding: 0em;
  margin: 0.25em;
}

input[type=text], input[type=password], textarea
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 60%;
  font-family: inherit;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding-left: 1em;
  border: lighten($base_colour, 50%) solid 1px;
  border-bottom: none;
}

input[type=file]
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

textarea
{
  height: 5em;
}

.projectlist
{
  text-align: right;
  font-size: 66.666%;
  ul
  {
    list-style: none;
    li
    {
      margin-right: 0.5em;
      padding-right: 0.5em;
      border-right: $background_colour solid 0.5em;
      &:hover
      {
        border-right-color: $lighter_base_colour;
      }
    }
  }
}
